<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/sprites/old/phil.png">
    <title>Medium Rare</title>
    <link rel="stylesheet" href="/styles/game.css">
    <link rel="stylesheet" href="/styles/shared.css">

    <script defer src="https://umami.hnasheralneam.dev/script.js" data-website-id="80d487ab-9425-4b1e-a838-80cbc26119d7"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>

    <% if (!multiplayer) { %>
        <script>
            const levelName = "<%= level %>";
            window.levelName = levelName;
            window.multiplayer = false;
            if (window.location.href.at(-1) == "/") {
                let newURL = window.location.href.slice(0, window.location.href.length - 1);
                window.location.href = newURL;
            }
        </script>
    <% } %>


    <div class="timer">
        <span class="time">60 seconds</span> |
        <span class="points">0 Points</span>
    </div>
    <div class="orders"></div>
    <div class="play-pause">
        <img src="../icons/pause.svg" alt="Play/pause">
    </div>
    <div class="touchpad-container"></div>
    <div class="modals">
        <div class="settings modal hidden">
            <h1>Paused</h1>
            <button class="continue">Continue</button>
            <br><br><br>
            <div class="controls"></div>
        </div>
        <div class="alert-outer">
            <div class="alert-parent"></div>
        </div>
        <div class="post-game fullscreen-modal hidden"></div>
        <div class="pre-game fullscreen-modal hidden"></div>
    </div>
    <% if (multiplayer) { %>
        <script>
            window.multiplayer = true;
        </script>
        <div class="fullscreen-modal multiplayer-lobby">
            <div class="lobby-container">
                <div class="main">
                    <h2 class="roomcode-display">Room Code: </h2>
                    <div class="waiting-players">
                        <div>
                            <p>In the room</p>
                            <ul class="inRoom"></ul>
                        </div>
                        <div>
                            <p class="waiting-text">Waiting to be let in</p>
                            <ul class="waiting"></ul>
                        </div>
                    </div>
                    <div class="leader-options hidden">
                        <form action="">
                            <label for="level-selection">Choose level: </label>
                            <select name="level-selection" class="level-select-dropdown">
                                <option value="square">Square</option>
                                <option value="wide">Wide</option>
                                <option value="huge">Huge</option>
                            </select>
                        </form>
                        <button class="start-game-button">start game</button>
                    </div>
                </div>
                <div>
                    <h2>Chat</h2>
                    <div class="messages"></div>
                    <form class="message-form" action="">
                        <input class="message-input" type="text" name="message" required>
                        <input type="submit" value="Send">
                    </form>
                </div>
            </div>
        </div>
        <script src="/scripts/lobby.js" type="module"></script>

        <script src="/remote.js" type="module"></script>
        <script src="/engine/multiplayer.js" type="module"></script>
    <% } else { %>
        <script src="/local.js" type="module"></script>
    <% } %>
    <script src="/script.js" type="module"></script>
</body>
</html>
