<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" type="image/x-icon" href="/sprites/old/phil.png">
   <title>🏠 | Medium Rare</title>
   <link rel="stylesheet" href="/styles/shared.css">
   <link rel="stylesheet" href="/styles/home.css">
   <script defer src="https://umami.hnasheralneam.dev/script.js"
      data-website-id="80d487ab-9425-4b1e-a838-80cbc26119d7"></script>
</head>
<body>
   <div class="related-links">
      <div><a tabindex="0" href="javascript:void(0)" onclick="openModal('changelog')">v0.2.5-stable</a></div>
      |
      <div><a tabindex="0" target="_blank" href="mailto:phil.mediumrare@gmail.com" title="phil.mediumrare@gmail.com">Feedback</a></div>
      |
      <div><a tabindex="0" target="_blank" href="https://discord.gg/vBcz33FYwV" title="Medium Rare Fan Club">Discord</a></div>
      |
      <div><a tabindex="0" target="_blank" href="https://github.com/hnasheralneam/medium-rare" title="hnasheralneam/medium-rare">GitHub</a></div>
      |
      <div><a tabindex="0" target="_blank" href="https://beta.mediumrare.hnasheralneam.dev" title="beta">Beta</a></div>
   </div>
   <div class="level-picker">
      <h1>Pick a level (Play alone)</h1>
      <br>
      <hr><br>
      <div class="level-picker-contents"></div>
      <br><br><br>
      <!-- <div class="multiplayer-menu">
         <div class="inner">
            <p>Multiplayer (Experimental)</p>
            <br>
            <button onclick="openModal('join'); document.querySelector('.roomcode').focus()">Join</button>
            <button onclick="openModal('create'); document.querySelector('.name-create').focus()">Create</button>
         </div>
      </div> -->
   </div>
   <!-- Modals -->
   <div class="modal changelog changelog-room hidden">
      <div class="content">
         <button class="close-modal" onclick="openModal('changelog')">X</button>
         <h1>Changelog</h1>
         <br>
         <p>Note: multiplayer is not available in the stable version, you can play it on the <a href="https://beta.mediumrare.hnasheralneam.dev">beta</a></p>
         <br><br>
         <div class="changelog-elements"></div>
      </div>
   </div>
   <div class="join-room room-modal">
      <div class="modal-content">
         <div>
            <h1>Join or find a room</h1>
            <button class="close-modal" onclick="openModal('join')">X</button>
            <p class="error-place"></p>
            <form class="join-form" action="" onsubmit="return joinRoom(event)">
               <h2>Join a room</h2>
               <p>Room Code</p>
               <input class="roomcode" type="text" name="roomcode" required>
               <p>Nickname</p>
               <input class="nickname" type="text" name="nickname" required><br>
               <input type="submit" value="Join room!">
               <br><br><br>
            </form>
            <form class="find-form" action="" onsubmit="return findOpenRoom(event)">
               <h2>Or find an open room</h2>
               <h3>Nickname</h3>
               <input class="nickname" type="text" name="nickname" required><br>
               <input type="submit" value="Find room!">
               <br><br><br>
            </form>
         </div>
      </div>
   </div>
   <div class="find-room room-modal">
         <div class="modal-content">
            <div>
               <h1>Join an open room</h1>
               <button class="close-modal" onclick="location.reload();">X</button>
               <div class="find-open-rooms">
                  <p class="waiting-nickname"></p>
                  <p class="searching-for-rooms">Searching for rooms<span class="ellipsis"></span></p>
                  <div class="open-rooms"></div>
                  <br><br>
                  <button onclick="location.reload()">Stop searching</button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="waiting-room room-modal">
      <div class="modal-content">
         <div>
            <h1>Waiting room</h1>
            <br>
            <button class="close-modal" onclick="location.reload();">X</button>
            <div class="find-open-rooms">
               <p class="waiting-nickname"></p>
               <h2>Waiting to be let in...</h2>
               <br><br>
               <button onclick="location.reload()">Stop waiting</button>
            </div>
         </div>
      </div>
   </div>
   <div class="create-room room-modal">
      <div class="modal-content">
         <div>
            <h1>Create a Room</h1>
            <button class="close-modal" onclick="openModal('create')">X</button>
            <form class="create-form" action="" onsubmit="return createRoom(event)">
               <p>Nickname</p>
               <input class="nickname name-create" type="text" name="nickname" required>
               <br><br>
               <input type="checkbox" id="is-public-room" name="is-public-room" checked>
               <label for="is-public-room"> Make public <span title="So anyone can join. If not checked, people will need the room code to join">(?)</span></label>
               <br><br>
               <input type="submit" value="Let's do it!">
            </form>
         </div>
      </div>
   </div>
</body>
<div class="scripts"></div>
<script src="/scripts/changelog.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/roomHome.js"></script>
<script src="/scripts/levelPicker.js" type="module"></script>
<script>
function attachScript(src) {
   const script = document.createElement("script");
   script.setAttribute("src", src);
   document.querySelector(".scripts").appendChild(script);
}
</script>
</html>