* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   overflow: hidden;
}

canvas {
   height: 100vh;
   width: 100vw;
   image-rendering: pixelated;
}

.alert-outer {
   visibility: hidden;

   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   overflow: auto;
   background-color: #eee;
   display: flex;
   justify-content: center;
   align-items: center;
}

.alert-parent button {
   color: #fff;
   background-color: #0099ff;
   border: none;
   font-size: 1.2rem;
   padding: .5rem 1rem;
   border-radius: .5rem;
}

.alert-parent button:active {
   outline: solid .2rem #00538a;
}

.alert {
   text-align: center;
   padding: 2rem;
   font-family: cursive;
   font-size: 2rem;
   max-width: 700px;
}

.shaky {
   animation: shake 0.15s infinite linear;
}

/* settings */
.settings, .level-picker {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background-color: #ddd;
   transition: .2s;
   text-align: center;
   padding: 2.5rem 0;
}

.settings h1 {
   font-family: cursive;
   font-size: 4rem;
   margin-bottom: 1rem;
   color: #444;
}

.settings div {
   overflow: visible;
}

.settings .continue {
   height: 6.5rem;
   width: 6.5rem;
   background-color: #00538a;
   color: #fff;
   text-transform: uppercase;
   border-radius: 50%;
   font-weight: bold;
   border: none;
   transition: .2s;
}

.settings .continue:active {
   transform: scale(1.1);
}

.hidden {
   opacity: 0;
   pointer-events: none;
}

.settings .player-controls-parent {
   display: grid;
   grid-template-columns: auto auto;
   margin: 0 auto;
   max-width: 20rem;
}

.settings .player-controls-parent img {
   height: 4rem;
   width: 4rem;
   margin: 1rem;
}

/* not settings */
.level-picker {
   font-family: sans-serif;
}

.level-picker-element {
   display: inline-block;
   margin: 2rem;
}

.level-picker-element * {
   margin: .4rem 0;
}

.level-picker-element button {
   padding: .25rem .5rem;
   font-size: 1.1rem;
}

.timer {
   position: fixed;
   bottom: 0;
   left: 0;
   background-color: #eee;
   color: #222;
   font-family: sans-serif;
   font-size: 1.5rem;
   font-weight: bold;
   padding: .2rem;
   user-select: none;
}

.play-pause {
   position: fixed;
   right: 0;
   bottom: 0;
   background-color: #eee;
   color: #222;
   font-family: sans-serif;
   font-size: 1.5rem;
   font-weight: bold;
   padding: .2rem;
   user-select: none;
}

@keyframes shake {
   0% {
      transform: translate(0px, 0px);
   }

   20% {
      transform: translate(1px, 2px);
   }

   40% {
      transform: translate(-1px, 3px);
   }

   60% {
      transform: translate(2px, -3px);
   }

   80% {
      transform: translate(-3px, -1px);
   }

   100% {
      transform: translate(0px, 0px);
   }
}