@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   overflow: hidden;
   font-family: "Pixelify Sans"
}

canvas {
   height: 100vh;
   width: 100vw;
   image-rendering: pixelated;
}

.alert-outer {
   visibility: hidden;

   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   overflow: auto;
   background-color: #eee;
   display: flex;
   justify-content: center;
   align-items: center;
}

.alert-parent button {
   color: #fff;
   background-color: #0099ff;
   border: none;
   font-size: 1.2rem;
   padding: .5rem 1rem;
   border-radius: .5rem;
}

.alert-parent button:active {
   outline: solid .2rem #00538a;
}

.alert {
   text-align: center;
   padding: 2rem;
   font-family: cursive;
   font-size: 2rem;
   max-width: 700px;
}

.shaky {
   animation: shake 0.15s infinite linear;
}

/* settings */
.settings h1 {
   font-family: cursive;
   font-size: 4rem;
   margin-bottom: 1rem;
   color: #444;
}

.settings div {
   overflow: visible;
}

.settings .continue {
   height: 6.5rem;
   width: 6.5rem;
   background-color: #00538a;
   color: #fff;
   text-transform: uppercase;
   border-radius: 50%;
   font-weight: bold;
   border: none;
   transition: .2s;
}

.settings .continue:active {
   transform: scale(1.1);
}


.settings .player-controls-parent {
   display: grid;
   grid-template-columns: auto auto;
   margin: 0 auto;
   max-width: 20rem;
}

.settings .player-controls-parent img {
   height: 4rem;
   width: 4rem;
   margin: 1rem;
   image-rendering: pixelated;
}

/* not settings */
.timer {
   position: fixed;
   bottom: 0;
   left: 0;
   background-color: #eee;
   color: #222;
   font-family: sans-serif;
   font-size: 1.5rem;
   font-weight: bold;
   padding: .2rem;
   user-select: none;
}

.play-pause {
   position: fixed;
   right: 0;
   bottom: 0;
   background-color: #eee;
   color: #222;
   font-family: sans-serif;
   font-size: 1.5rem;
   font-weight: bold;
   /* padding: .2rem; */
   user-select: none;
   z-index: 1;
   border-radius: 50%;
   margin: .2rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.play-pause img {
   height: 2.5rem;
   width: 2.5rem;
}

@keyframes shake {
   0% {
      transform: translate(0px, 0px);
   }

   20% {
      transform: translate(1px, 2px);
   }

   40% {
      transform: translate(-1px, 3px);
   }

   60% {
      transform: translate(2px, -3px);
   }

   80% {
      transform: translate(-3px, -1px);
   }

   100% {
      transform: translate(0px, 0px);
   }
}

.roomcode-display {
   font-family: sans-serif;
}


/* order styles */
.orders {
   position: absolute;
   top: 0;
   left: 0;
   pointer-events: none;
}

.order {
   display: inline-block;
   width: 10rem;
   padding: 0 .5rem 1rem .5rem;
   background-color: #eee;
   margin: 0 .25rem;
   position: relative;
   font-size: .9em;
}

.order .ingredients img {
   height: 1.9rem;
   width: 1.9rem;
   image-rendering: pixelated;
}

.order .image {
   display: block;
   height: 7rem;
   width: 7rem;
   margin: .4rem auto;
   image-rendering: pixelated;
}

.order .time-left {
   height: .8rem;
   width: 100%;
   background-color: #ddd;
   position: absolute;
   bottom: 0;
   left: 0;
}

.order .time-left-progress {
   height: 100%;
   background-color: #13e873;
   transition: .2s linear;
}

.fullscreen-modal {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #ddd;
   z-index: 2;
}

.pre-game, .post-game {
   display: flex;
   justify-content: center;
   align-items: center;
   max-height: 100vh;
}

.pre-game div.inner {
   max-height: 100vh;
   width: 100vw;
   overflow: auto;
}

.post-game div, .pre-game div {
   text-align: center;
   font-family: sans-serif;
}

.pre-game button, .post-game button {
   font-size: 1.1rem;
   padding: .5rem .7rem;
   margin: 1rem 0;
}

/* Pregame player preview */
.pregame-player {
   margin: 1rem;
   display: inline-block;
   background-color: #eee;
   padding: 1rem;
   border-radius: 1rem;
   height: 20rem;
   width: 12rem;
   text-align: center;
}

.pregame-player img {
   height: 4rem;
   width: 4rem;
   margin-top: 1rem;
   image-rendering: pixelated;
}

/* Touchpad styles */
.touchpad {
   position: fixed;
   top: 0;
   right: 0;
   margin: 2rem;
   padding: 2rem;
   border-radius: 50%;
   background-color: #eee;
   border: solid .2rem #bbb;
   height: 11rem;
   width: 11rem;
}

.touchpad .direction {
   height: 3rem;
   width: 3rem;
   /* border-radius: 50%; */
   background-color: #fff;
   border: none;
   box-shadow: inset 0 0 .2rem #aaa;
   box-sizing: border-box;
}

.touchpad .interact {
   position: absolute;
   top: calc(50% - 1.75rem);
   left: calc(50% - 1.75rem);

   height: 3.5rem;
   width: 3.5rem;
   border-radius: 50%;
   background-color: #fff;
   border: none;
   box-shadow: inset 0 0 .2rem #aaa;
   box-sizing: border-box;
   font-size: 2rem;
}

.touchpad .direction {
   position: absolute;
   font-size: 2rem;
}

.touchpad .direction.down {
   bottom: 0;
   left: calc(50% - 1.5rem);
   border-radius: 0 0 50% 50%;
}
.touchpad .direction.right {
   right: 0;
   top: calc(50% - 1.5rem);
   border-radius: 0 50% 50% 0;
}
.touchpad .direction.left {
   left: 0;
   top: calc(50% - 1.5rem);
   border-radius: 50% 0 0 50%;
}
.touchpad .direction.up {
   top: 0;
   left: calc(50% - 1.5rem);
   border-radius: 50% 50% 0 0;
}

/* Mobile styles */
@media (max-height: 760px) {
   .orders {
      transform-origin: top left;
      transform: scale(.6);
   }
   .play-pause img {
      height: 4rem;
      width: 4rem;
   }
}

@media (prefers-color-scheme: dark) {
   .pre-game, .post-game {
      background-color: #333;
      color: #eee;
   }

   .pregame-player {
      background-color: #222;
   }
}