@import url("/assets/fonts/Pixellari.tff");

* {
   padding: 0;
   margin: 0;
   font-family: "Pixellari", sans-serif, "Pixelify Sans";
}

.modal {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background-color: #e3e3e3;
   transition: .2s;
   text-align: center;
   padding: 2.5rem 0;
   z-index: 0;
}


.hidden {
   opacity: 0;
   pointer-events: none;
}


@media (prefers-color-scheme: dark) {
   button {
      padding: .2rem .3rem;
      margin: .3rem .1rem;
      background-color: #1b1b1b;
      color: #fff;
      border-style: dotted;
      border-color: #000;
      border-width: .2rem;
      transition: .2s;
   }

   button:hover {
      background-color: #292929;
   }

   button:active {
      border-color: #555;
   }
}